.tech {
    width: 50vw;
}

.developer {

}

.techHeader {
    width: 50vw;
}

.developerHeader {

}

.row {
    display: flex;
    border-top: 1px solid #E5E5E5;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 1px;
}

.rowHeader {
    display: flex;
    padding: 12px 0;
}

.loading {
    opacity: 0.5;
    z-index: 1;
}

.loadingImg{
    z-index: 10;
    opacity: 1;
    position: absolute;
    width: 108px;
    height: 108px;
    top: calc(50% - 59px);
    left: calc(50% - 59px);
}