.greetingForm {
}

.inputAndButtonContainer {
    display: flex;
    gap: 12px;
}

.error {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: rgba(204, 0, 0, 1);
    padding-top: 10px;
}

.input {
    width: 370px;
    height: 36px;
    border: 1px solid rgba(209, 209, 209, 1);
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    outline: 0;
}

.input:focus {
}

.errorInput {
    /*width: 370px;*/
    /*height: 36px;*/
    /*border-radius: 5px;*/
    /*padding: 5px 10px;*/
    /*font-size: 16px;*/
    /*line-height: 20px;*/
    /*font-weight: 500;*/
    /*font-family: 'Montserrat', sans-serif;*/
    /*outline: 0;*/
    border:1px solid rgba(204, 0, 0, 1);
}

.button {
    border-radius: 5px;
    background-color: rgba(0, 102, 204, 1);
    font-size: 14px;
    line-height: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    border: 0;
    color: #fff;
    cursor: pointer;
    width: 78px;
    height: 36px;
    text-align: center;
}

.button:focus {

}

.button:active {

}

.button:disabled {
    background-color: rgba(0, 102, 204, 0.5);
}

.text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
}

.greeting {
    font-size: 14px;
    line-height: 17px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}
